body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #FFEFD5;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .komadai {
    background: #fff;
    border: 0px #fff;
    float: left;
    font-size: 12px;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .other {
    writing-mode: vertical-lr;
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
  }

  .promoted-keikyo {
    line-height: 50%;
    font-size: 16px !important;
  }

  .kagemusha {
    color: blue !important;
  }

  .container {
    height: 100%;
    width: 100%;
    font-size: 0;
  }

  .other-koma-dai {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 24px;
    width: 20%;
  }

  .board {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 24px;
    width: 60%;
  }

  .koma-dai {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: bottom;
    font-size: 24px;
    width: 20%;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  button.active {
    font-weight: bold;
  }
  